APP_DEBUG=true
APP_ENV=local
APP_KEY="base64:jje/g4+NCV855kcVKPdD+onziFDudu+O1WLROyPjaKk="
APP_NAME=Laravel
APP_URL=https://edwinalaravel12.onrender.com/
CACHE_DRIVER=file
CACHE_TTL=3600
CWA_API_KEY=CWA-200E575C-3563-4C4E-9A0D-33A0F1E021F5
CWA_API_URL=https://opendata.cwa.gov.tw/api/v1/rest/datastore/
DB_CONNECTION=pgsql
DB_DATABASE=laravel12
DB_HOST=dpg-d56iku6r433s73e6d0d0-a.singapore-postgres.render.com
DB_PASSWORD=fc30iZLeJqt6adWHNs4j9isbgiAhopPo
DB_PORT=5432
DB_USERNAME=laravel12_user
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
